<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brodog.mall.admin.mapper.GoodsAttrMapper">
    <select id="selectMyPage" resultType="com.brodog.mall.admin.vo.goods.GoodsAttrVO">
        select * from goods_attr <where>${ew.sqlSegment}</where>
    </select>

</mapper>
